.parent-container{
    display: flex;
    flex-direction: column;
    gap: 0px 0px;
    width: 90%;
    padding: 15px;
    overflow-x: hidden;
    margin: 0 auto;
}



.remove-button{
    display: flex;
    gap: 0 10px;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
}

.remove{
    cursor: pointer;
}

.form-field{
    width: 80%;
}

.email-input{
    display: flex;
}

.email-container{
        height: 150px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #fff;
        border-radius: 4px;
        font-size: 14px;
        color: #333;
        margin: 0 auto;
        width: 80%;
}