<div class="confirm-container">
    <h2>Schedule Reports</h2>

    <div class="confirm-content">
        <p>Your <span *ngFor="let report of reports">{{report}}, </span> will be sent to 
            <span *ngFor="let email of emails">{{email}}, </span>
        </p> 
    </div>

    <p><span>{{scheduleInterval}}</span> on <span>{{scheduleDate}}</span> at <span>{{scheduleTime}}{{amPm}}</span></p>

    <div class="confirm-btn">
        <button class="confirm-button" mat-raised-button>Confirm</button>
    </div>
</div>